.mat-form-field {
  display: block !important;
}

.top-card {
  border-radius: 0 !important;
}

.top-card mat-card-content {
  max-width: 960px;
  margin: 0 auto;
}

.bg-logo-marrom {
  background-color: #504046;
  color: #f2f2f2;
}

.bg-logo-marrom-claro {
  background-color: #848484;
}

.mat-card-subtitle {
  color: #f2f2f2;
}

.info {
  background-color: #BD001C;
  color: #f2f2f2;
}

tr.mat-header-row {
  height: 36px;
}

tr.mat-header-row th {
  font-size: 1.1rem;
  background-color: #C0001D;
  color: #f2f2f2;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.12);
  font-weight: bold;
  margin: 0;
}

th.mat-header-cell:first-of-type {
  padding-left: 0 !important;
}

table {
  width: 100%;
}

th {
  background-color: #eceef7;
}

th * {
  text-align: center;
}

td.mat-cell {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, .12);
  width: 250px;
}

.td-categoria {
  background-color: #C0001D;
  color: #f2f2f2;
  font-size: 1.1rem;
  padding: 1rem;
  text-align: center;
  width: 180px !important;
  max-width: 180px !important;
}

.btnprev {
  background-color: #848484;
}

.btnnext {
  background-color: #C0001D;
}

.question {
  padding: .5rem;
}

.tjust {
  text-align: justify;
  text-justify: inter-word;
  height: 189px;
}


@media screen and (max-width: 1024px) {
  form {
    overflow-x: auto;
  }
}

@media screen and (max-width: 728px) {}

@media screen and (max-width: 414) {}
