<mat-card class="top-card pr-4 pl-4 pt-2 pb-2 row">
  <mat-card-content class="bg-logo-marrom-claro d-flex justify-content-around align-items-center flex-column mt-1 col"
    style="border-radius: 4px;">
    <mat-card-title class="font-weight-bold mb-1" style="font-size: 1rem;     text-align: center;">
      Escolha uma das seguintes opções para cada afirmação:
    </mat-card-title>
    <div class="d-flex w-100">
      <mat-card-subtitle class="w-100 d-flex justify-content-between mb-0" style="text-align: center;">
        <div class="d-flex flex-column">
          <p class="m-0 font-weight-bold">"TOTALMENTE VERDADEIRA"</p>
          <p class="m-0">Para mais de 80% do conteúdo atendido</p>
        </div>
        <div class="d-flex flex-column mr-3 ml-3">
          <p class="m-0 font-weight-bold">
            "PARCIALMENTE VERDADEIRA"
          </p>
          <p class="m-0">
            Entre 20% e 80% do conteúdo atendido
          </p>
        </div>
        <div class="d-flex flex-column">
          <p class="m-0 font-weight-bold">
            "NÃO VERDADEIRA"
          </p>
          <p class="m-0">
            Quando menos de 20% do conteúdo atendido
          </p>
        </div>
      </mat-card-subtitle>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="m-0 p-0 w-100" style="box-shadow: none;">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="formGroupLideranca">
      <form [formGroup]="formGroupLideranca">
        <ng-template matStepLabel>Liderança</ng-template>

        <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8 ml-0 mr-0 mt-1 mb-4">

          <!-- Categoria Column -->
          <ng-container matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef> Categoria </th>
            <td mat-cell *matCellDef="let element" class="td-categoria"> {{element.categoria}} </td>
          </ng-container>

          <!-- P1 Column -->
          <ng-container matColumnDef="p1">
            <th mat-header-cell *matHeaderCellDef> E1 </th>
            <td mat-cell *matCellDef="let element" class="pt-1 pb-1 pl-2 pr-2">

              <div class="tjust">
                {{element.p1}}
              </div>

              <mat-form-field>
                <mat-select matInput formControlName="p1" placeholder="Resposta">
                  <mat-option *ngFor="let opt of opts" [value]="opt">
                    {{opt}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </td>
          </ng-container>

          <!-- P2 Column -->
          <ng-container matColumnDef="p2">
            <th mat-header-cell *matHeaderCellDef> E2 </th>
            <td mat-cell *matCellDef="let element" class="pt-1 pb-1 pl-2 pr-2">

              <div class="tjust">
                {{element.p2}}
              </div>

              <mat-form-field>
                <mat-select matInput formControlName="p1" placeholder="Resposta">
                  <mat-option *ngFor="let opt of opts" [value]="opt">
                    {{opt}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>

          <!-- P3 Column -->
          <ng-container matColumnDef="p3">
            <th mat-header-cell *matHeaderCellDef> E3 </th>
            <td mat-cell *matCellDef="let element" class="pt-1 pb-1 pl-2 pr-2">

              <div class="tjust">
                {{element.p3}}
              </div>

              <mat-form-field>
                <mat-select matInput formControlName="p1" placeholder="Resposta">
                  <mat-option *ngFor="let opt of opts" [value]="opt">
                    {{opt}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>

          <!-- P4 Column -->
          <ng-container matColumnDef="p4">
            <th mat-header-cell *matHeaderCellDef class="border-0"> E4 </th>
            <td mat-cell *matCellDef="let element" class="pt-1 pb-1 pl-2 pr-2">

              <div class="tjust">
                {{element.p4}}
              </div>
              <mat-form-field>
                <mat-select matInput formControlName="p1" placeholder="Resposta">
                  <mat-option *ngFor="let opt of opts" [value]="opt">
                    {{opt}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div>
          <button mat-raised-button matStepperNext type="submit" class="btnnext">Próxima</button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="formGroupCultura">
      <form [formGroup]="formGroupCultura">
        <ng-template matStepLabel>Cultura</ng-template>

        <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8 ml-0 mr-0 mt-1 mb-4">

          <!-- Categoria Column -->
          <ng-container matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef> Categoria </th>
            <td mat-cell *matCellDef="let element" class="td-categoria"> {{element.categoria}} </td>
          </ng-container>

          <!-- P1 Column -->
          <ng-container matColumnDef="p1">
            <th mat-header-cell *matHeaderCellDef> E1 </th>
            <td mat-cell *matCellDef="let element" class="pt-1 pb-1 pl-2 pr-2">

              <div class="tjust">
                {{element.p1}}
              </div>

              <mat-form-field>
                <mat-select matInput formControlName="p1" placeholder="Resposta">
                  <mat-option *ngFor="let opt of opts" [value]="opt">
                    {{opt}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </td>
          </ng-container>

          <!-- P2 Column -->
          <ng-container matColumnDef="p2">
            <th mat-header-cell *matHeaderCellDef> E2 </th>
            <td mat-cell *matCellDef="let element" class="pt-1 pb-1 pl-2 pr-2">

              <div class="tjust">
                {{element.p2}}
              </div>

              <mat-form-field>
                <mat-select matInput formControlName="p1" placeholder="Resposta">
                  <mat-option *ngFor="let opt of opts" [value]="opt">
                    {{opt}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>

          <!-- P3 Column -->
          <ng-container matColumnDef="p3">
            <th mat-header-cell *matHeaderCellDef> E3 </th>
            <td mat-cell *matCellDef="let element" class="pt-1 pb-1 pl-2 pr-2">

              <div class="tjust">
                {{element.p3}}
              </div>

              <mat-form-field>
                <mat-select matInput formControlName="p1" placeholder="Resposta">
                  <mat-option *ngFor="let opt of opts" [value]="opt">
                    {{opt}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>

          <!-- P4 Column -->
          <ng-container matColumnDef="p4">
            <th mat-header-cell *matHeaderCellDef class="border-0"> E4 </th>
            <td mat-cell *matCellDef="let element" class="pt-1 pb-1 pl-2 pr-2">

              <div class="tjust">
                {{element.p4}}
              </div>
              <mat-form-field>
                <mat-select matInput formControlName="p1" placeholder="Resposta">
                  <mat-option *ngFor="let opt of opts" [value]="opt">
                    {{opt}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div>
          <button mat-raised-button matStepperPrevious class="mr-2 btnprev">Anterior</button>
          <button mat-raised-button matStepperNext class="btnnext">Próxima</button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="formGroupConhecimento">
      <form [formGroup]="formGroupConhecimento">
        <ng-template matStepLabel>Conhecimento</ng-template>

        <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8 ml-0 mr-0 mt-1 mb-4">

          <!-- Categoria Column -->
          <ng-container matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef> Categoria </th>
            <td mat-cell *matCellDef="let element" class="td-categoria"> {{element.categoria}} </td>
          </ng-container>

          <!-- P1 Column -->
          <ng-container matColumnDef="p1">
            <th mat-header-cell *matHeaderCellDef> E1 </th>
            <td mat-cell *matCellDef="let element" class="pt-1 pb-1 pl-2 pr-2">

              <div class="tjust">
                {{element.p1}}
              </div>

              <mat-form-field>
                <mat-select matInput formControlName="p1" placeholder="Resposta">
                  <mat-option *ngFor="let opt of opts" [value]="opt">
                    {{opt}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </td>
          </ng-container>

          <!-- P2 Column -->
          <ng-container matColumnDef="p2">
            <th mat-header-cell *matHeaderCellDef> E2 </th>
            <td mat-cell *matCellDef="let element" class="pt-1 pb-1 pl-2 pr-2">

              <div class="tjust">
                {{element.p2}}
              </div>

              <mat-form-field>
                <mat-select matInput formControlName="p1" placeholder="Resposta">
                  <mat-option *ngFor="let opt of opts" [value]="opt">
                    {{opt}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>

          <!-- P3 Column -->
          <ng-container matColumnDef="p3">
            <th mat-header-cell *matHeaderCellDef> E3 </th>
            <td mat-cell *matCellDef="let element" class="pt-1 pb-1 pl-2 pr-2">

              <div class="tjust">
                {{element.p3}}
              </div>

              <mat-form-field>
                <mat-select matInput formControlName="p1" placeholder="Resposta">
                  <mat-option *ngFor="let opt of opts" [value]="opt">
                    {{opt}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>

          <!-- P4 Column -->
          <ng-container matColumnDef="p4">
            <th mat-header-cell *matHeaderCellDef class="border-0"> E4 </th>
            <td mat-cell *matCellDef="let element" class="pt-1 pb-1 pl-2 pr-2">

              <div class="tjust">
                {{element.p4}}
              </div>
              <mat-form-field>
                <mat-select matInput formControlName="p1" placeholder="Resposta">
                  <mat-option *ngFor="let opt of opts" [value]="opt">
                    {{opt}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div>
          <button mat-raised-button matStepperPrevious class="mr-2 btnprev">Anterior</button>
          <button mat-raised-button matStepperNext class="btnnext">Próxima</button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="formGroupGovernanca">
      <form [formGroup]="formGroupGovernanca" (ngSubmit)="enviar()">
        <ng-template matStepLabel>Governança</ng-template>

        <table mat-table [dataSource]="dataSource4" class="mat-elevation-z8 ml-0 mr-0 mt-1 mb-4">

          <!-- Categoria Column -->
          <ng-container matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef> Categoria </th>
            <td mat-cell *matCellDef="let element" class="td-categoria"> {{element.categoria}} </td>
          </ng-container>

          <!-- P1 Column -->
          <ng-container matColumnDef="p1">
            <th mat-header-cell *matHeaderCellDef> E1 </th>
            <td mat-cell *matCellDef="let element" class="pt-1 pb-1 pl-2 pr-2">

              <div class="tjust">
                {{element.p1}}
              </div>

              <mat-form-field>
                <mat-select matInput formControlName="p1" placeholder="Resposta">
                  <mat-option *ngFor="let opt of opts" [value]="opt">
                    {{opt}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </td>
          </ng-container>

          <!-- P2 Column -->
          <ng-container matColumnDef="p2">
            <th mat-header-cell *matHeaderCellDef> E2 </th>
            <td mat-cell *matCellDef="let element" class="pt-1 pb-1 pl-2 pr-2">

              <div class="tjust">
                {{element.p2}}
              </div>

              <mat-form-field>
                <mat-select matInput formControlName="p1" placeholder="Resposta">
                  <mat-option *ngFor="let opt of opts" [value]="opt">
                    {{opt}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>

          <!-- P3 Column -->
          <ng-container matColumnDef="p3">
            <th mat-header-cell *matHeaderCellDef> E3 </th>
            <td mat-cell *matCellDef="let element" class="pt-1 pb-1 pl-2 pr-2">

              <div class="tjust">
                {{element.p3}}
              </div>

              <mat-form-field>
                <mat-select matInput formControlName="p1" placeholder="Resposta">
                  <mat-option *ngFor="let opt of opts" [value]="opt">
                    {{opt}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>

          <!-- P4 Column -->
          <ng-container matColumnDef="p4">
            <th mat-header-cell *matHeaderCellDef class="border-0"> E4 </th>
            <td mat-cell *matCellDef="let element" class="pt-1 pb-1 pl-2 pr-2">

              <div class="tjust">
                {{element.p4}}
              </div>
              <mat-form-field>
                <mat-select matInput formControlName="p1" placeholder="Resposta">
                  <mat-option *ngFor="let opt of opts" [value]="opt">
                    {{opt}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div>
          <button mat-raised-button matStepperPrevious class="mr-2 btnprev">Anterior</button>
          <button mat-raised-button matStepperNext type="submit" class="btnnext">Enviar</button>

        </div>
      </form>
    </mat-step>

  </mat-horizontal-stepper>

</mat-card>
