<div class="outer">
  <div class="middle">
    <div class="inner">

      <div class="img-logo mx-auto d-flex justify-content-center mb-3">
        <img class="logo" src="../../assets/logo_ferrous.png" alt="Logo">
      </div>
      <mat-card class="my-card mx-auto p-0 mb-2">
        <mat-card-header class="d-flex justify-content-center">
          <mat-card-title class="m-0 pt-3 pb-3 pl-2 pr-2 font-weight-bold">Questionário de Maturidade em Processo</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mx-auto pt-2 pb-2 pr-3 pl-3 mb-0">
          <form class="w-100">
            <mat-form-field class="w-100 pl-2 pr-2">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Nome" name="nome">
            </mat-form-field>
            <mat-form-field class="w-100 pl-2 pr-2">
              <mat-label>Sobrenome</mat-label>
              <input matInput placeholder="Sobrenome" name="sobrenome">
            </mat-form-field>
            <mat-form-field class="w-100 pl-2 pr-2">
              <mat-label>Cargo</mat-label>
              <input matInput placeholder="Cargo" name="cargo">
            </mat-form-field>
            <mat-form-field class="w-100 pl-2 pr-2">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" name="email">
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions class="p-2 mr-2 ml-2">
          <!-- <button mat-raised-button class="w-100 mx-auto mb-2 p-2" [routerLink]="['/empresa']">Avalie a maturidade da sua
              EMPRESA</button> -->
          <button mat-raised-button class="w-100 mx-auto p-1" [routerLink]="['/empresa']">Clique aqui e avalie a
            maturidade
            da sua EMPRESA</button>
        </mat-card-actions>
      </mat-card>
    </div>


  </div>

</div>
