.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  /*whatever width you want*/
}

.my-card {
  border-radius: 4px;
}

.mat-card-header {
  background-color: #BD001C;
  color: #fff;
  border-radius: 4px;
}

.mat-card-title {
  font-size: 1.4rem;
}

button {
  background-color: #848484;
  color: #f2f2f2;
  font-size: 1.1rem;
}

button:hover {
  transform: scale(1.01);
}

.logo {
  height: auto;
  width: auto;
  max-width: 180px;
  max-height: 110px;
  margin-bottom: 6px;
}


@media screen and (max-width: 1024px) {}

@media screen and (max-width: 728px) {
  .inner {
    width: 400px;
  }

  .mat-card-title {
    font-size: 1.4rem;
    text-align: center;
  }

  button {
    font-size: .8rem;
  }
}

@media screen and (max-width: 414px) {
  .inner {
    width: 270px;
  }

  .mat-card-title {
    font-size: 1rem;
  }

  button {
    font-size: .6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}
