<mat-card class="my-card mx-auto">
  <mat-card-title class="text-center p-1 m-0">Questionário Maturidade</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content class="d-flex flex-column justify-content-center w-100 mt-4 p-3">
    <h5 class="text-center">Selecionar Cargo</h5>
    <form class="w-100">
      <mat-form-field class="w-100">
        <mat-select placeholder="Cargo" class="w-100">
          <mat-option *ngFor="let cargo of cargos" [value]="cargo">
            {{cargo}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="d-flex flex-column w-100 mt-4 p-3">
    <h5 class="text-center">Selecionar modalidade de Questionário</h5>
    <button mat-raised-button class="w-100 mb-2" [routerLink]="['/empresa']">Qual a maturidade da sua
      <span class="font-weight-bold">EMPRESA</span></button>
    <button mat-raised-button class="w-100" [routerLink]="['/processo']">Qual a maturidade do seu
      <span class="font-weight-bold">PROCESSO</span></button>
  </mat-card-actions>
  <mat-card-footer></mat-card-footer>
</mat-card>


<img class="logo" src="../../assets/logo_ferrous.png" alt="Logo">
