.my-card {
  margin-top: 30vh;
  width: 400px;
  min-width: 250px;
  max-width: 400px;
}

mat-card-actions button {
  background-color: #504347;
  color: #f2f2f2;
}

.logo {
  width: 100px;
  height: auto;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

mat-card-header {
  margin-right: 16px;
}
