/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body {
  overflow-x: hidden;
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #C0001D !important;
}

.mat-step-header .mat-step-icon-selected {
  background-color: #C0001D !important;
}


.mat-form-field.mat-focused {
  color: #C0001D !important;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #C0001D !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #C0001D !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #C0001D !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #C0001D !important;
}
